{% load static %}
<!--Counter One Start-->
<section class="counter-one">
    <div class="container">
        <div class="counter-one__inner">
            <div class="counter-one-bg" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
                style="background-image: url({% static 'images/backgrounds/counter-one-bg.jpg' %});"></div>
            <ul class="list-unstyled counter-one__list">
                <li class="counter-one__single">
                    <div class="counter-one__count-box">
                        <h3 class="odometer" data-count="70">00</h3>
                        <span class="counter-one__letter">m</span>
                    </div>
                    <p class="counter-one__text">Total donation</p>
                </li>
                <li class="counter-one__single">
                    <div class="counter-one__count-box">
                        <h3 class="odometer" data-count="48">00</h3>
                        <span class="counter-one__letter">k</span>
                    </div>
                    <p class="counter-one__text">Projects funded</p>
                </li>
                <li class="counter-one__single">
                    <div class="counter-one__count-box">
                        <h3 class="odometer" data-count="38">00</h3>
                        <span class="counter-one__letter">%</span>
                    </div>
                    <p class="counter-one__text">Kids need help</p>
                </li>
                <li class="counter-one__single">
                    <div class="counter-one__count-box">
                        <h3 class="odometer" data-count="230">00</h3>
                        <span class="counter-one__letter"></span>
                    </div>
                    <p class="counter-one__text">Our volunteers</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--Counter One End-->