{% load static %}
<!--Events One Start-->
<section class="events-one">
    <div class="events-one-shape-1" style="background-image: url({% static 'images/shapes/events-one-shape-1.png' %})">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="events-one__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Upcoming events</span>
                        <h2 class="section-title__title">Join our latest upcoming events</h2>
                    </div>
                    <p class="events-one__text-1">There are many variations of passages of lorem ipsum available
                        but the majority have suffered.</p>
                    <a href="event-details.html" class="thm-btn events-one__btn">Discover More</a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8">
                <div class="events-one__right">
                    <div class="events-one__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
                        "loop": true,
                        "autoplay": true,
                        "margin": 20,
                        "nav": true,
                        "dots": false,
                        "smartSpeed": 500,
                        "autoplayTimeout": 10000,
                        "navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"],
                        "responsive": {
                            "0": {
                                "items": 1
                            },
                            "768": {
                                "items": 2
                            },
                            "992": {
                                "items": 2
                            },
                            "1200": {
                                "items": 3
                            }
                        }
                    }'>
                        {% for event in event_all %}
                        <div class="item">
                            <!--Events One Single Start-->
                            <div class="events-one__single">
                                <div class="events-one__img">
                                    <img src="/media/{{event.image}}" alt="" style="height: 275px;">
                                    <div class="events-one__date">
                                        <p>{{event.date}}</p>
                                    </div>
                                    <div class="events-one__content">
                                        <ul class="list-unstyled events-one__meta">
                                            <li><i class="fas fa-clock"></i>{{event.start_time}}</li>
                                            <li><i class="fas fa-map-marker-alt"></i>{{event.location}}</li>
                                        </ul>
                                        <h3 class="events-one__title"><a href="{% url 'eventdetails' slug=event.slug %}">{{event.title}}</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--Events One Single End-->
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Events One End-->