{% load static %}
<!--Feature One Start-->
<section class="feature-one">
    <div class="container">
        <div class="row">
            {% comment %} <div class="col-xl-6 col-lg-6  wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                <div class="feature-one__single">
                    <div class="feature-one__single-bg"
                        style="background-image: url({% static 'images/shapes/feature-one-shape-1.png' %});"></div>
                    <div class="feature-one__top">
                        <div class="feature-one__top-inner">
                            <div class="feature-one__top-icon">
                                <span class="icon-help"></span>
                            </div>
                            <div class="feature-one__top-title-box">
                                <h3 class="feature-one__top-title"><a href="become-volunteer.html">Join us &
                                        become <br> a
                                        volunteer</a></h3>
                            </div>
                        </div>
                    </div>
                    <p class="feature-one__text">Mauris feugiat at orci ac congue. mauris ut <br> lacus quis
                        proin
                        diam.</p>
                    <ul class="list-unstyled feature-one__point">
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Sed et nulla a nunc finibus eleifend.</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Mauris nulla nisl, pellentesque vetae.</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Proin quis aliquam nisi.</p>
                            </div>
                        </li>
                    </ul>
                    <a href="become-volunteer.html" class="thm-btn feature-one__btn">View details</a>
                </div>
            </div> {% endcomment %}
            <div class="col-xl-6 col-lg-6  wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms" style="margin: 0 auto;">
                <div class="feature-one__single feature-one__single--two">
                    <div class="feature-one__single-bg"
                        style="background-image: url({% static 'images/shapes/feature-one-shape-1.png' %});"></div>
                    <div class="feature-one__top">
                        <div class="feature-one__top-inner">
                            <div class="feature-one__top-icon feature-one__top-icon--two">
                                <span class="icon-gift-box"></span>
                            </div>
                            <div class="feature-one__top-title-box">
                                <h3 class="feature-one__top-title"><a href="about.html">Send
                                        a gift for <br>
                                        childrens</a></h3>
                            </div>
                        </div>
                    </div>
                    <p class="feature-one__text">Mauris feugiat at orci ac congue. mauris ut <br> lacus quis
                        proin
                        diam.</p>
                    <ul class="list-unstyled feature-one__point">
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Sed et nulla a nunc finibus eleifend.</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Mauris nulla nisl, pellentesque vetae.</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Proin quis aliquam nisi.</p>
                            </div>
                        </li>
                    </ul>
                    <a href="{% url 'sendgift' %}" class="thm-btn feature-one__btn">View details</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Feature One End-->