{% load static %}
<!--Site Footer Start-->
<footer class="site-footer">
    <div class="site-footer-bg" style="background-image: url({% static 'images/backgrounds/site-footer-bg.jpg' %});">
    </div>
    <div class="site-footer__top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <div class="footer-widget__about-logo">
                            <a href="#"><img src="{% static 'images/resources/footer-logo.png' %}" alt=""></a>
                        </div>
                        <div class="footer-widget__about-text-box">
                            <p class="footer-widget__about-text">Nulla ultricies justo sit amet ante efficitur,
                                eget pharetra augue efficitur. Vestibulum viverra, dolor sit amet ultricies.</p>
                        </div>
                        <div class="footer-widget__btn">
                            <a href="donate-now.html"> <span class="fa fa-heart"></span>Donate now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__links clearfix">
                        <h3 class="footer-widget__title">Information</h3>
                        <ul class="footer-widget__links-list list-unstyled clearfix">
                            <li><a href="{% url 'about' %}">About us</a></li>
                            <li><a href="#">At a Glance</a></li>
                            <li><a href="#">Social Enterprise</a></li>
                            <li><a href="#">Social Development</a></li>
                            <li><a href="#">Education</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__non-profit clearfix">
                        <h3 class="footer-widget__title">Important Links</h3>
                        <ul class="footer-widget__non-profit-list list-unstyled clearfix">
                            <li><a href="donation-details.html">Projects</a></li>
                            <li><a href="donation-details.html">Research</a></li>
                            <li><a href="donation-details.html">Annual Reports</a></li>
                            <li><a href="donation-details.html">News</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="footer-widget__column footer-widget__contact">
                        <h3 class="footer-widget__title">Contact</h3>
                        <p class="footer-widget__contact-text">House # 543, Adarsha Para, Word # 08<br> Bhola-8300, Bangladesh.
                        </p>
                        <ul class="list-unstyled footer-widget__contact-list">
                            <li>
                                <div class="icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="text">
                                    <p><a href="mailto:rhdo.org.bd@gmail.com">rhdo.org.bd@gmail.com</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="text">
                                    <p><a href="tel:1306699411">+1306699411</a></p>
                                </div>
                            </li>
                        </ul>
                        <div class="site-footer__social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">© All Copyright 2022 by <a href="#">Oxpins.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Site Footer End-->