{% load static %}
<!--Testimonial One Start-->
<section class="testimonial-one">
    <div class="testimonial-one-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
        style="background-image: url({% static 'images/backgrounds/testimonial-one-bg.jpg' %});"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="testimonial-one__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Founder Footprint</span>
                        <h2 class="section-title__title">What they are talking about oxpins</h2>
                    </div>
                    <p class="testimonial-one__text-1">Nulla ultricies justo sit amet ante efficitur, eget
                        pharetra augue efficitur. Vestibulum viverra, dolor sit amet ultricies ornare, elit
                        justo pretium tellus.</p>
                    <a href="#" class="thm-btn testimonial-one__btn">Founder Details</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="testimonial-one__right">
                    <div class="testimonial-one__img-1 zoom-fade">
                        <img src="{% static 'images/testimonial/testimonial-img-1.jpg' %}" alt="">
                    </div>
                    <div class="testimonial-one__img-1 testimonial-one__img-2 zoom-fade">
                        <img src="{% static 'images/testimonial/testimonial-img-2.jpg' %}" alt="">
                    </div>
                    <div class="testimonial-one__img-1 testimonial-one__img-3 zoom-fade">
                        <img src="{% static 'images/testimonial/testimonial-img-3.jpg' %}" alt="">
                    </div>
                    <div class="testimonial-one__img-1 testimonial-one__img-4 zoom-fade">
                        <img src="{% static 'images/testimonial/testimonial-img-4.jpg' %}" alt="">
                    </div>
                    <div class="testimonial-one__carousel owl-carousel owl-theme thm-owl__carousel"
                        data-owl-options='{
                        "loop": true,
                        "autoplay": true,
                        "margin": 50,
                        "nav": true,
                        "dots": false,
                        "smartSpeed": 500,
                        "autoplayTimeout": 10000,
                        "navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"],
                        "responsive": {
                            "0": {
                                "items": 1
                            },
                            "768": {
                                "items": 1
                            },
                            "992": {
                                "items": 1
                            },
                            "1200": {
                                "items": 1
                            }
                        }
                    }'>
                        {% for founder in founder_all %}
                        <div class="item">
                            <!--Testimonial One Single Start-->
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__shape-1"
                                    style="background-image: url({% static 'images/shapes/testimonial-one-shape-1.png' %});">
                                </div>
                                <div class="testimonial-one__client-img">
                                    <img src="/media/{{founder.image}}" alt="">
                                </div>
                                <div class="testimonial-one__client-info">
                                    <h3 class="testimonial-one__client-name">{{founder.name}}</h3>
                                    <p class="testimonial-one__client-sub-title">{{founder.position}}</p>
                                </div>
                                <div class="testimonial-one__quote">
                                    <span class="icon-double-quotes"></span>
                                </div>
                                <p class="testimonial-one__text-2">
                                    {{founder.speech}}
                                </p>
                            </div>
                            <!--Testimonial One Single End-->
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonial One End-->