{% load static %}
<!--News One Start-->
<section class="news-one">
    <div class="container" style="position: relative;">
        <div class="section-title text-center">
            <span class="section-title__tagline">News & articles</span>
            <h2 class="section-title__title">Directly from the <br> latest news and articles
            </h2>
        </div>
        <div class="row">
            <!--News One Single Start-->
            {% for blog in blogs %}
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                <div class="news-one__single">
                    <div class="news-one__img">
                        <img src="/media/{{blog.image}}" alt="">
                    </div>
                    <div class="news-one__content-box">
                        <div class="news-one__content-inner">
                            <div class="news-one__content">
                                <ul class="list-unstyled news-one__meta">
                                    <li><a href="news-details.html"><i class="fas fa-comments"></i> 2
                                            Comments</a>
                                    </li>
                                </ul>
                                <h3 class="news-one__title"><a href="news-details.html">{{blog.title}}</a></h3>
                            </div>
                            <div class="news-one__bottom">
                                <div class="news-one__read-more">
                                    <a href="news-details.html"> <span class="icon-right-arrow"></span> Read
                                        More</a>
                                </div>
                                <div class="news-one__share">
                                    <a href="#"><i class="fas fa-share-alt"></i></a>
                                </div>
                            </div>
                            <div class="news-one__social-box">
                                <ul class="list-unstyled news-one__social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="news-one__date">
                            <p>{{blog.created}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--News One Single End-->
        </div>
    </div>
    <a href="{% url 'bloglist' %}" class="btn btn-outline-warning seemore_button_blog" style="position:absolute;">see more</a>
</section>
<!--News One End-->