{% load static %}
<!--Become Volunteer One Start-->
<section class="become-volunteer-one">
    <div class="become-volunteer-one__bg-box">
        <div class="become-volunteer-one__bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
            style="background-image: url({% static 'images/backgrounds/become-volunteer-one-bg.jpg' %});"></div>
    </div>
    <div class="become-volunteer-one__shape-1"
        style="background-image: url({% static 'images/shapes/become-volunteer-shape-1.png' %});"></div>
    <div class="container">
        <div class="become-volunteer-one__inner">
            <p class="become-volunteer-one__sub-title">Become a Volunteers</p>
            <h3 class="become-volunteer-one__title">Join your hand with us for a <br> better life and future
            </h3>
            <div class="become-volunteer-one__btn-box">
                <a href="{% url 'becomeavolunteer' %}" class="thm-btn become-volunteer-one__btn">Join as Volunteer</a>
            </div>
        </div>
    </div>
</section>
<!--Become Volunteer One End-->