{% extends 'base.html' %}
{% load static %}

{% block body_block %}

  <!-- Swiper--slider -->
  {% include 'includes/slider.html' %}

  <!-- about us -->
  {% include 'includes/about.html' %}

  <!-- Causes -->
  {% include 'includes/causes.html' %}

  <!-- volunteer -->
  {% include 'includes/volunteer.html' %}

  <!-- event -->
  {% include 'includes/event.html' %}

  <!-- feature -->
  {% include 'includes/feature.html' %}

  <!-- brand -->
  {% include 'includes/brand.html' %}

  <!-- brand -->
  {% include 'includes/founder.html' %}

  <!-- gallery -->
  {% include 'includes/gallery.html' %}

  <!-- faq -->
  {% include 'includes/faq.html' %}

  <!-- counter -->
  {% include 'includes/counter.html' %}

  <!-- news -->
  {% include 'includes/news.html' %}


{% endblock body_block %}