{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block body_block %}



<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url({% static 'images/backgrounds/page-header-bg.jpg' %})">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.html">Home</a></li>
                <li><span>/</span></li>
                <li class="active">Pages</li>
            </ul>
            <h2>About us</h2>
        </div>
    </div>
</section>
<!--Page Header End-->

<!--About Four Start-->
<section class="about-four">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-four__left">
                    <div class="about-four__img-box">
                        <div class="about-four__img">
                            <img src="/media/{{aboutus.image_1}}" alt="">
                        </div>
                        <div class="about-four__img-two">
                            <img src="/media/{{aboutus.image_2}}" alt="">
                        </div>
                        <div class="about-four__border"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-four__right">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">About oxpins</span>
                        <h2 class="section-title__title">{{aboutus.title}}</h2>
                    </div>
                    <p class="about-four__text">{{aboutus.description|safe}}</p>
                    <div class="about-four__btn-box">
                        <a href="{% url 'aboutmore' %}" class="thm-btn about-four__btn">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About Four End-->

<!--Testimonial Two Start-->
<section class="testimonial-two">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Founder</span>
            <h2 class="section-title__title">What they’re talking <br> about oxpins</h2>
        </div>
        <div class="testimonial-two__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
            "loop": false,
            "autoplay": true,
            "margin": 30,
            "nav": false,
            "dots": false,
            "smartSpeed": 500,
            "autoplayTimeout": 10000,
            "navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"],
            "responsive": {
                "0": {
                    "items": 1
                },
                "768": {
                    "items": 1
                },
                "992": {
                    "items": 2
                },
                "1200": {
                    "items": 3
                }
            }
        }'>
            <div class="item">
                <!--Testimonial Two Single Start-->
                {% for founder in founders %}
                <div class="testimonial-two__single">
                    <div class="testimonial-two__img">
                        <img src="/media/{{founder.image}}" alt="">
                    </div>
                    <div class="testimonial-two__content">
                        <div class="testimonial-two__shape-1"
                            style="background-image: url({% static 'images/shapes/testimonial-two-shape-1.png' %});">
                        </div>
                        <p class="testimonial-two__text">{{founder.speech|range_filter}}</p>
                        <div class="testimonial-two__client-info">
                            <h4 class="testimonial-two__client-name"><a href="{% url 'founder' pk=founder.id %}">{{founder.name}}</a></h4>
                            <p class="testimonial-two__client-sub-title">{{founder.position}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--Testimonial Two Single End-->
            </div>
        </div>
    </div>
</section>
<!--Testimonial Two End-->

<!--Become Volunteer One Start-->
<section class="become-volunteer-one">
    <div class="become-volunteer-one__bg-box">
        <div class="become-volunteer-one__bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
            style="background-image: url({% static 'images/backgrounds/become-volunteer-one-bg.jpg' %});"></div>
    </div>
    <div class="become-volunteer-one__shape-1"
        style="background-image: url({% static 'images/shapes/become-volunteer-shape-1.png' %});"></div>
    <div class="container">
        <div class="become-volunteer-one__inner">
            <p class="become-volunteer-one__sub-title">Become a Volunteers</p>
            <h3 class="become-volunteer-one__title">Join your hand with us for a <br> better life and future
            </h3>
            <div class="become-volunteer-one__btn-box">
                <a href="{% url 'becomeavolunteer' %}" class="thm-btn become-volunteer-one__btn">Join as Volunteer</a>
            </div>
        </div>
    </div>
</section>
<!--Become Volunteer One End-->

<!--FAQ One Start-->
<section class="faq-one faq-two">
    <div class="faq-one-shape-1" style="background-image: url({% static 'images/shapes/faq-one-shape-1.png' %});"></div>
    <div class="faq-one-bg" style="background-image: url({% static 'images/backgrounds/faq-one-bg.png' %});"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="faq-one__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Recently asked questions</span>
                        <h2 class="section-title__title">People are frequently asking some questions from us
                        </h2>
                    </div>
                    <p class="faq-one__text-1">Proactively procrastinate cross-platform results via extensive
                        ideas distinctively underwhelm enterprise. Compellingly plagiarize value-added sources
                        with inexpensive schemas.</p>
                    <a href="faq.html" class="thm-btn faq-one__btn">Learn how to get help</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="faq-one__right">
                    <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                        {% for faqs in faq %}
                        <div class="accrodion {% if forloop.counter == 1 %} active {% endif %}">
                            <div class="accrodion-title">
                                <h4>{{faqs.question}}</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>
                                        {{faqs.description}}
                                    </p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--FAQ One End-->

<!--Team One Start-->
<section class="team-one">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Our Volunteer</span>
            <h2 class="section-title__title">Meet the team behind <br> their success story</h2>
        </div>
        <div class="row">
            <!--Team One Single Start-->
            {% for volunteer in volunteers %}
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                <div class="team-one__single">
                    <div class="team-one__img">
                        <img src="/media/{{volunteer.image}}" alt="" style="width:270px;height:310px;">
                    </div>
                    <div class="team-one__content">
                        <h3 class="team-one__name"><a href="">{{volunteer.name}}</a></h3>
                        <p class="team-one__sub-title">Volunteer</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--Team One Single End-->
        </div>
    </div>
</section>
<!--Team One End-->

<!--Brand One Start-->
<section class="brand-one brand-three">
    <div class="brand-two-shape-1" style="background-image: url({% static 'images/shapes/brand-three-shape-1.png' %});">
    </div>
    <div class="container">
        <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                    "0": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "375": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "575": {
                        "spaceBetween": 30,
                        "slidesPerView": 3
                    },
                    "767": {
                        "spaceBetween": 50,
                        "slidesPerView": 4
                    },
                    "991": {
                        "spaceBetween": 50,
                        "slidesPerView": 5
                    },
                    "1199": {
                        "spaceBetween": 100,
                        "slidesPerView": 6
                    }
                }}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="{% static 'images/brand/brand-1-1.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="{% static 'images/brand/brand-1-2.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="{% static 'images/brand/brand-1-3.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="{% static 'images/brand/brand-1-4.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="{% static 'images/brand/brand-1-5.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="{% static 'images/brand/brand-1-6.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="{% static 'images/brand/brand-1-1.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="{% static 'images/brand/brand-1-2.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="{% static 'images/brand/brand-1-3.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="{% static 'images/brand/brand-1-4.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="{% static 'images/brand/brand-1-5.png' %}" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="{% static 'images/brand/brand-1-6.png' %}" alt="">
                </div><!-- /.swiper-slide -->
            </div>
        </div>
    </div>
</section>
<!--Brand One End-->



{% endblock body_block %}